<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio</title>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .profile-part button:hover .menu {
            display: inline-block;
        }

        ::-webkit-scrollbar {
            width: 8px;
            background-color: transparent;
            display: none;
        }

        video::-webkit-media-controls-enclosure {
            display: none !important;
        }
    </style>
</head>

<body>
    <div class="main h-screen w-full overflow-hidden ">
        <div
            class="upload-overlay hidden z-[999] absolute h-full w-full flex items-center justify-center bg-[rgba(0,0,0,.7)]">
            <i onclick="closeOverlay()"
                class="cursor-pointer ri-close-line absolute font-bold text-3xl text-white absolute top-5 right-10"></i>
            <form action="/postVideo/" class="bg-white w-2/3 h-2/3 relative" method="post">
                <input type="file" onchange="goToDescription(this)" hidden id="videoUpload">
                <div class="form-content flex flex-col gap-4 justify-center items-center h-full w-full">
                    <i
                        class="ri-upload-2-line text-[2vw] border border-2 border-black rounded-full w-[5vw] flex items-center justify-center aspect-square"></i>
                    <h1 onclick="selectFile()"
                        class="selectFile cursor-pointer font-medium text-xl bg-blue-500 px-4 py-2 rounded text-white">
                        Select a file</h1>
                </div>
            </form>
        </div>
        <nav class="w-full h-[9vh] border-b flex  items-center justify-between px-7 shadow-md">
            <div class="logo flex shrink-0 gap-6 h-full items-center">
                <i class="ri-menu-line text-lg text-zinc-500"></i>
                <img src="/uploads/images/<%=loggedUser.profileImg%>" class="h-[36%] rounded-full shrink-0" alt="">
            </div>
            <div class="search w-[41%] border border-zinc-300 rounded-md overflow-hidden relative ml-2">
                <i class="ri-search-line absolute text-zinc-400 left-2 top-1/2 -translate-y-1/2"></i>
                <input type="text" class="w-full pl-8 px-5 py-2 text-sm  outline-none "
                    placeholder="Search across your channel">
            </div>
            <div class="profile-part flex gap-5 items-center pl-3 relative">
                <i class="ri-question-line text-2xl text-zinc-600 font-thin"></i>
                <button class="px-2.5 py-1 border border-zinc-300 flex items-center"><i
                        class="ri-video-upload-line text-red-500 mr-2 text-xl"></i>CREATE
                    <div class="menu absolute top-full w-fit right-[24%] hidden  bg-white border">
                        <h1 class="py-1 px-3 text-start hover:bg-zinc-100" onclick="openOverlay('video')"><i
                                class="ri-upload-line mr-3 text-zinc-400"></i>Upload a video</h1>
                        <h1 class="py-1 px-3 text-start hover:bg-zinc-100" onclick="openOverlay('shorts')"><i
                                class="ri-movie-2-line mr-3"></i>Upload a short</h1>
                        <h1 class="py-1 px-3 text-start hover:bg-zinc-100" onclick="createPlaylist()"><i
                                class="ri-play-list-2-line mr-3"></i></i>Create playlist</h1>
                        <h1 class="py-1 px-3 text-start hover:bg-zinc-100" onclick="openOverlay()"><i
                                class="ri-rfid-line mr-3 text-zinc-400"></i>Go live</h1>
                    </div>
                </button>
                <a href="/">
                    <div class="profileImg h-[2.1vw] rounded-full overflow-hidden aspect-square border">
                        <img class="h-full w-full object-cover" src="/uploads/images/<%=loggedUser.profileImg%>" alt="">
                    </div>
                </a>
            </div>
        </nav>
        <div class="bottom h-[91vh]  flex w-full">
            <div class="left border-r w-[17vw] flex flex-col items-center py-6">
                <div class="profileImg h-[7.3vw] mb-4 rounded-full overflow-hidden aspect-square border">
                    <img class="h-full w-full object-cover" src="/uploads/images/<%=loggedUser.profileImg%>" alt="">
                </div>
                <h1 class="text-sm font-medium">Your Channel</h1>
                <h1 class="text-sm font-medium text-zinc-600">
                    <%=loggedUser.username%>
                </h1>
                <div class="channel-opt w-full h-[45vh] mt-6 overflow-y-auto border">
                    <h1 class="font-medium flex text-sm items-center px-5 py-2 "><i
                            class="ri-dashboard-fill mr-4 text-2xl"></i>Dashboard</h1>
                    <h1 class="font-medium flex text-sm items-center px-5 py-2 "><i
                            class="ri-video-line mr-4 text-2xl"></i>Content</h1>
                    <h1 class="font-medium flex text-sm items-center px-5 py-2 "><i
                            class="ri-bar-chart-box-line mr-4 text-2xl"></i>Analytics</h1>
                    <h1 class="font-medium flex text-sm items-center px-5 py-2 "><i
                            class="ri-message-2-line mr-4 text-2xl"></i>Comment</h1>
                    <h1 class="font-medium flex text-sm items-center px-5 py-2 "><i
                            class="ri-copyright-line mr-4 text-2xl"></i>Copyright </h1>
                    <h1 class="font-medium flex text-sm items-center px-5 py-2 "><i
                            class="ri-money-dollar-circle-line mr-4 text-2xl"></i>Earn</h1>
                    <h1 class="font-medium flex text-sm items-center px-5 py-2 "><i
                            class="ri-list-view mr-4 text-2xl"></i>Subtitles</h1>
                    <h1 class="font-medium flex text-sm items-center px-5 py-2 "><i
                            class="ri-edit-line mr-4 text-2xl"></i>Customization</h1>
                </div>
                <h1 class="font-medium flex text-sm items-center px-5 py-2  w-full"><i
                        class="ri-settings-3-line mr-4 text-2xl"></i>Settings</h1>
                <h1 class="font-medium flex text-sm items-center px-5 py-2  w-full"><i
                        class="ri-feedback-line mr-4 text-2xl"></i>Send feedback</h1>
            </div>
            <div class="right w-[83vw] ">
                <h1 class="text-2xl font-medium p-5">Channel content</h1>
                <div class="caetogary px-5 border-b border-b-zinc-200 w-full mt-5 flex gap-5 items-center">
                    <h1
                        class="font-semibold text-md py-2 border-b w-fit border-b-2 px-1 hover:border-b-zinc-900 border-b-transparent">
                        Home</h1>
                    <h1
                        class="font-semibold text-md py-2 border-b w-fit border-b-2 px-1 hover:border-b-zinc-900 border-b-transparent">
                        Videos</h1>
                    <h1
                        class="font-semibold text-md py-2 border-b w-fit border-b-2 px-1 hover:border-b-zinc-900 border-b-transparent">
                        Playlist</h1>
                </div>
                <div class="filter">
                    <h1 class="py-2 flex items-center  border-b px-5"><i
                            class="ri-filter-3-line text-2xl text-zinc-400 mr-5"></i> Filter</h1>
                    <div class="filterdVideo px-5 overflow-y-auto h-[66.3vh] pb-5">
                        <% if(loggedUser.uploadedVideos.length <=0 ) {%>
                            <h1 class="mt-[15%] text-center text-lg text-zinc-400 font-medium">No videos uploaded</h1>
                            <%}else{%>
                                <% loggedUser.uploadedVideos.forEach(function(video,i){%>
                                    <div class="video border-b py-3 flex justify-between relative">
                                        <h1>
                                            <%=i+1%>
                                        </h1>
                                        <a href="/openVideo/<%=video.title%>">
                                            <div class="video-desc flex gap-3">
                                                <div class="video-wrapper h-[12vh] w-[10vw] rounded-2xl relative">
                                                    <% if(video.thumbnail){ %>
                                                        <img src="/uploads/images/<%=video.thumbnail%>"
                                                            class="z-10  pointer-events-none h-full w-full object-cover rounded-2xl absolute left-0"
                                                            alt="">
                                                        <%}%>
                                                            <video preload="metadata" controlsList="false"
                                                                src="/uploads/videos/<%=video.filename%>" muted loop
                                                                class="h-full w-full object-cover rounded-2xl">
                                                            </video>
                                                </div>
                                                <div class="description w-[15vw]">
                                                    <h1 class="font-medium text-wrap break-words ">
                                                        <%=video.title ?? 'Draft' %>
                                                    </h1>
                                                    <p class="text-sm text-zinc-400 text-wrap break-words">
                                                        <%=video.description%>
                                                    </p>
                                                    <%if(! video.visibility){%>
                                                        <p class="text-sm">private</p>

                                                        <%}%>
                                                </div>
                                            </div>
                                        </a>
                                        <h1>
                                            <%=video.uploadDate.toLocaleDateString('en-US', { date:'long' }) %>
                                        </h1>
                                        <h1>
                                            <%=video.likes.length%> likes
                                        </h1>
                                        <h1>
                                            <%=video.comments.length%> comments
                                        </h1>
                                        <div class="icons">
                                            <i onclick="editVideo('<%=video._id%>',this)" class="ri-edit-line mr-2"></i>
                                            <a href="/deleteVideo/<%=video._id%>"><i
                                                    class="ri-delete-bin-2-line"></i></a>
                                        </div>
                                    </div>
                                    <%})%>

                                        <%}%>
                    </div>
                </div>
            </div>

        </div>


    </div>


    <script>

        let type;

        function goToDescription(dets) {
            if (dets.files[0].type.includes('video')) {
                if (type === 'shorts') {
                    const video = document.createElement('video');
                    video.onloadedmetadata = function () {
                        if (video.duration > 60) {
                            goBack();
                            dets.value = '';
                            document.querySelector('form .form-content').innerHTML += `<h1 id="alert" class="top-[65%] absolute text-red-500 font-medium text-lg p-1.5"><i class="ri-alert-line"></i> choose a short file !</h1>`
                        } else {
                            uploadFile()
                        }
                    };
                    video.src = URL.createObjectURL(dets.files[0]);
                } else {
                    uploadFile()
                }
                document.querySelector('form .form-content').innerHTML = `<img class="h-1/3 mix-blend-darken object-cover pointer-events-none" src="https://imgs.search.brave.com/jhx8cbwVWm7ZVBf6bmIo7J7-e8sBy_KBq3WM2SNYt98/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9i/L2IxL0xvYWRpbmdf/aWNvbi5naWY.gif" alt="">`
            } else {
                dets.value = "";
                document.querySelector('form .form-content').innerHTML += `<h1 id="alert" class="top-[65%] absolute text-red-500 font-medium text-lg p-1.5"><i class="ri-alert-line"></i> File not supported !</h1>`
            }
        }

        function closeOverlay() {
            document.querySelector('.upload-overlay').style.display = "none"
            location.reload();
        }

        function openOverlay(dets) {
            type = dets;
            document.querySelector('.upload-overlay').style.display = "flex"
        }

        function selectFile() {
            document.querySelector('.upload-overlay #videoUpload').click();
            if (document.querySelector("#alert")) {
                document.querySelector('form .form-content').removeChild(document.querySelector("#alert"));
            }
        }

        function goBack() {
            document.querySelector('form .form-content').innerHTML = `
            <i class="ri-upload-2-line text-[2vw] border border-2 border-black rounded-full w-[5vw] flex items-center justify-center aspect-square"></i>
            <h1 onclick="selectFile()" class="selectFile cursor-pointer font-medium text-xl bg-blue-500 px-4 py-2 rounded text-white"> Select a file</h1>
            `
        }

        function createPlaylist() {
            document.querySelector('form').setAttribute('action','/playlist/create')
            fetch('/allvideos').then(raw => raw.json()).then(function (response) {
                document.querySelector('form .form-content').innerHTML = `
                      <i class="ri-arrow-left-line text-2xl font-semibold  absolute top-5 left-5" onclick="goBack()"></i>
                      <div class="inner-form-content flex gap-4 justify-center items-center h-full w-full">
                          <div class="about w-3/4 h-[86%] px-5 pb-5 mt-14 overflow-y-auto">
                              <h1 class="text-2xl mb-7 font-medium">Details</h1>
                              <h1 class="my-1 font-medium text-sm text-start w-full">Title..(required)</h1>
                              <input oninput="wordLimit(this,100)" type="text" name="title" id="" class="border rounded border-2 ring ring-zinc-100 ring-offset-1 ring-offset-blue-100 ring-2 w-full bg-transparent border-zinc-500 p-2 outline-none" required placeholder="Give the description...">
                              <h1 class="mt-5 mb-1 font-medium text-sm text-start w-full">Give the description for the video..</h1>
                              <textarea oninput="wordLimit(this,300)" rows="3" cols="5" required name="description" id="" class="mb-2 border rounded border-2 ring ring-zinc-100 ring-offset-1 ring-offset-blue-100 ring-2  h-[15vh] w-full bg-transparent border-zinc-500 p-2 outline-none" placeholder="Give the description..."></textarea>
                              <h1 class="mb-1 font-medium text-sm mt-3 text-start w-full">Visibility</h1>
                              <div class="visibility mt-1 border border-zinc-500 rounded border-2 ring ring-zinc-100 ring-offset-1 ring-offset-blue-100 ring-2 px-2 py-1">
                                <h1 class="font-medium flex items-center gap-1.5 text-sm  text-start w-full"><input type="radio" name="visibility" checked value="true" id="public"> Public</h1>
                                <h1 class="font-medium flex items-center gap-1.5 my-2 text-sm  text-start w-full"><input type="radio" name="visibility" value="false"   id="private"> Private</h1>
                                </div>
                                <h1 class="mb-1 font-medium text-sm mt-3 text-start w-full">Select Videos</h1>
                              <div class="check-videos mt-1 border border-zinc-500 rounded border-2 ring ring-zinc-100 ring-offset-1 ring-offset-blue-100 ring-2 px-2 py-1">
                              </div>
                            </div>
                      </div>
                      <button id="submitBtn" type="submit" class="rounded px-3 py-1.5 bg-blue-500 text-white font-medium absolute bottom-5 right-5" disabled='disabled'>Upload</button>
                    `;
                response.forEach(function (e) {
                    document.querySelector('.check-videos').innerHTML += ` <div class="check flex gap-3 mb-1.5">
                        <input onchange="updateButtonState()" type="checkbox" name="videos" value="${e._id}"><h1 class="font-medium break text-sm">${e.title}</h1>
                    </div>`;
                })
                document.querySelector('.upload-overlay').style.display = "flex"
                updateButtonState()
            })
        }

        function updateButtonState() {
            const checkboxes = document.getElementsByName('videos');
            const submitButton = document.getElementById('submitBtn');
            let isChecked = false;
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    isChecked = true;
                    break;
                }
            }
            if (isChecked) {
                submitButton.style.backgroundColor = 'rgb(59 130 246';
                submitButton.removeAttribute('disabled');
            } else {
                submitButton.style.backgroundColor = 'gray';
                submitButton.setAttribute('disabled', 'disabled');
            }
        }

        function innerhtml(title, filename, id, description, thumbnail, tags) {
            document.querySelector('form .form-content').innerHTML = `
                      <i class="ri-arrow-left-line text-2xl font-semibold  absolute top-5 left-5" onclick="goBack()"></i>
                      <div class="inner-form-content flex gap-4 justify-center items-center h-full w-full">
                          <div class="about w-1/2 h-[86%] px-5 pb-5 mt-14 overflow-y-auto">
                              <h1 class="text-2xl mb-7 font-medium">Details</h1>
                              <h1 class="my-1 font-medium text-sm text-start w-full">Title..(required)</h1>
                              <input oninput="wordLimit(this,100)" type="text" name="title" id="" value="${title ?? filename}" class="border rounded border-2 ring ring-zinc-100 ring-offset-1 ring-offset-blue-100 ring-2 w-full bg-transparent border-zinc-500 p-2 outline-none" required placeholder="Give the description...">
                              <h1 class="mt-5 mb-1 font-medium text-sm text-start w-full">Give the description for the video..</h1>
                              <textarea oninput="wordLimit(this,150)" rows="3" cols="5" required name="description" id="" class="mb-3 border rounded border-2 ring ring-zinc-100 ring-offset-1 ring-offset-blue-100 ring-2  h-[15vh] w-full bg-transparent border-zinc-500 p-2 outline-none" placeholder="Give the description...">${description ?? ''}</textarea>
                              <input onchange="uploadThumbnailImg('${id}')" type="file" hidden id="thumbnail">
                              <h1 class="my-1 font-medium text-sm text-start w-full">Tags</h1>
                              <input oninput="wordLimit(this,100)" type="text" name="tags" id="" class="border rounded border-2 ring ring-zinc-100 ring-offset-1 ring-offset-blue-100 ring-2 w-full bg-transparent border-zinc-500 p-2 outline-none" value="${tags ? tags.toString() : ''}" placeholder="Give any tags(keep each tag seprated by ,)...">
                              <h1 class="mt-5 mb-3 font-medium text-sm text-start w-full">Give the thumbnail for the video..</h1>
                              <img onclick="selectThumbnailImg()" id="thumbnail-img" src='${(thumbnail) ? '/uploads/images/' + thumbnail : 'https://imgs.search.brave.com/Pp6vsgVrfh-BXEacLXP9oj5wSS0qJPEqnYI1DmcyauE/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93d3cu/ZHVwbGljaGVja2Vy/LmNvbS9hc2V0cy9p/bWcvaW1hZ2VfY2F0/L2NvbnZlcnQtdG8t/anBnLnN2Zw.svg'}' class="border p-1 w-20 object-cover">
                              <h1 class="mb-1 font-medium text-sm mt-5 text-start w-full">Visibility</h1>
                              <div class="visibility mt-1 border border-zinc-500 rounded border-2 ring ring-zinc-100 ring-offset-1 ring-offset-blue-100 ring-2 px-2 py-1">
                                <h1 class="font-medium flex items-center gap-1.5 text-sm  text-start w-full"><input type="radio" name="visibility" checked value="true" id="public"> Public</h1>
                                <h1 class="font-medium flex items-center gap-1.5 my-2 text-sm  text-start w-full"><input type="radio" name="visibility" value="false"   id="private"> Private</h1>
                              </div>
                            </div>
                            
                          <div class="shrink-0 uploadedVideo h-full w-1/2 bg-zinc-200 flex items-center justify-center">
                              <video  class="shadow-xl rounded shadow-zinc-500 w-3/4 object-cover" controls muted src="/uploads/videos/${filename}"></video>
                          </div>
                      </div>
                      <button type="submit" class="rounded px-3 py-1.5 bg-blue-500 text-white font-medium absolute bottom-5 right-5">Upload</button>
                    `;
        }

        function uploadFile() {
            let formData = new FormData();
            formData.append('video', document.getElementById('videoUpload').files[0]);
            fetch('/videoUpload', {
                method: 'POST',
                body: formData
            }).then(raw => raw.json())
                .then(function (response) {
                    if (type === 'video') {
                        document.querySelector('form').action = `/postVideo/video/${response._id}`
                    } else {
                        document.querySelector('form').action = `/postVideo/short/${response._id}`
                    }
                    innerhtml(response.title, response.filename, response._id);
                    document.querySelector('textarea').focus();
                })
        }

        function wordLimit(elem, maxWords) {
            if (elem.value.length >= maxWords) {
                elem.value = elem.value.slice(0, maxWords);
            }
        }

        function selectThumbnailImg() {
            document.querySelector('#thumbnail').click();
        }

        function uploadThumbnailImg(id) {
            let formData = new FormData();
            formData.append('thumbnail', document.getElementById('thumbnail').files[0]);
            fetch(`/thumbnailupload/${id}`, {
                method: 'POST',
                body: formData,
            })
                .then(raw => raw.json())
                .then(function (response) {
                    document.querySelector('#thumbnail-img').setAttribute('src', `/uploads/images/${response.filename}`)
                })
        }

        function deleteVideo(id) {
            fetch(`/deleteVideo/${id}`)
            location.reload();
        }

        function editVideo(id) {
            fetch(`/findVideo/${id}`)
                .then(raw => raw.json())
                .then(function (response) {
                    document.querySelector('form').action = `/updateVideo/${response._id}`
                    openOverlay();
                    innerhtml(response.title, response.filename, response._id, response.description, response.thumbnail, response.tags);
                    document.querySelector('input').focus();
                })
        }

        document.querySelectorAll('.video-desc video').forEach((video) => {
            video.addEventListener('mouseenter', function (e) {
                e.target.play();
                if (e.fromElement.querySelector('img')) {
                    e.fromElement.querySelector('img').style.zIndex = -1;
                }
            })
            video.addEventListener('mouseleave', function (e) {
                e.target.pause();
                if (e.target.parentNode.querySelector('img')) {
                    e.target.parentNode.querySelector('img').style.zIndex = 1;
                }
            })
        })

    </script>

</body>

</html>